.login-card .card{
    width: 380px !important;
    margin-left: -50px;
}
.c-body div img{
    margin-left: 100px;
    margin-bottom: 25px;
}

table {
    border: 1px solid black;
    border-radius: 8px;
}
