{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'img/logo/logo.png' %}" rel="icon">
  <title>KrystaCart - Dashboard</title>
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/ruang-admin.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/ruang-admin.css' %}" rel="stylesheet">
</head>

<body id="page-top">

{% block content %}
    
{% endblock %}


 <!-- Scroll to top -->
 <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/ruang-admin.min.js' %}"></script>
<script src="{% static 'assets/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/demo/chart-area-demo.js' %}"></script>  
<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/login.js' %}"></script>
 <!-- Page level custom scripts -->
 <script>
  $(document).ready(function () {
    //var table = $('#dataTable').DataTable(); 
    var table = $('#dataTableHover').DataTable();
    // Create FromDate and ToDate inputs
    $('#fromDate, #toDate').on('change', function() {
      var fromDate = $('#fromDate').val();
      var toDate = $('#toDate').val();

      // Apply the date range filtering on the 'date' column (replace 0 with your date column index)
      table.column(0).between(fromDate, toDate).draw();
  });
  //
     // ID From dataTable with Hover
  });
</script>
</body>

</html>