{% extends 'uifiles/index.html' %}
{% load static %}
{% block sidecontent %}
 <!-- Container Fluid-->
 <div class="container-fluid" id="container-wrapper">
  <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Orders List</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item">Orderslist</li>

    </ol>
  </div> -->

  <!-- Row -->
  <div class="row">
    <!-- Datatables -->
    <div class="col-lg-12">
      <div class="card mb-4">
        <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Orders List</h6>
        </div> -->
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush table-hover" id="dataTableHover">
            <thead class="table-heade">
              <tr>
                <th>Dealer Name</th>
                <th>Product Name</th>
                <th>Cases</th>
                <th>Transport Name</th>
                <th>Address</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for item in Orderslist %}
              <tr>
                <!-- <td>{{item.OrdersId}}</td> -->
                <td>{{item.DealerName}}</td>
                <td>{{item.ProductName}}</td>
                <td>{{item.ProductQuantity}}</td>
                <td>{{item.TransporterName}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.DateStr}}</td>
                <td>{{item.TimeStr}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Row-->

  <!-- Documentation Link -->
  
  <!-- Modal Logout -->
  <div class="modal fade mb-5" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a href="/logout/" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!---Container Fluid-->
<!-- <div class="container-fluid">

<div class="row">
      <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
          <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div>
                    <table class="table">
                        <thead>
                          <tr class="header-th">
                            <th scope="col" >Dealer Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Cases</th>
                            <th scope="col">Transport Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in Orderslist %}
                          <tr>
                            <th scope="row">{{item.DealerName}}</th>
                            <th scope="row">{{item.ProductName}}</th>
                            <th scope="row">{{item.ProductQuantity}}</th>
                            <th scope="row">{{item.TransporterName}}</th>
                            <th scope="row">{{item.Address}}</th>
                            <th scope="row">{{item.DateStr}}</th>
                            <th scope="row">{{item.TimeStr}}</th>
                            
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                </div>
           
            </div>

          </div>
        </div>
      </div>
 
    </div> -->
    
 
    <!-- <div class="py-6 px-6 text-center">
      <p class="mb-0 fs-4">© 2023 All Rights reserved By  <a href="https://krystacrop.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">Krystacrop</a> Design and Developed by <a href="https://dt7solutions.com/" target="_blank">DT7Solutions</a></p>
    </div> 
  </div> -->

{% endblock %}