{% extends 'uifiles/index.html' %}
{% load static %}
{% block sidecontent %}
 <!-- Container Fluid-->
 <div class="container-fluid" id="container-wrapper">
  <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Orders List</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item">Orderslist</li>

    </ol>
  </div> -->

  <!-- Row -->
  <div class="row">
    <!-- Datatables -->
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="row px-2 my-3">
          <div class="col-lg-12">
              <form id="dateFilterForm">
                {% csrf_token %}
                <label for="fromDate" class="my-2 mx-2  date-label">From Date&nbsp;:</label>
                  <input type="date" class="form-control" id="fromDate" name="fromDate">&nbsp;&nbsp;&nbsp;

                <label for="toDate" class="my-2 mx-2 date-label">To Date&nbsp;:</label>&nbsp;
                  <input type="date" class="form-control" id="toDate" name="toDate">&nbsp;&nbsp;&nbsp;

                  <button type="button" class="btn btn-tr-color" onclick="filterAndDownload()">Filter & Download</button>
              </form>
          </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush table-hover" id="dataTableHover">
            <thead class="table-heade">
              <tr>
                <th>Dealer Name</th>
                <th>Product Name</th>
                <th>Cases</th>
                <th>Transport Name</th>
                <th>Address</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for item in Orderslist %}
              <tr class="orderdata">
                <!-- <td>{{item.OrdersId}}</td> -->
                <td>{{item.DealerName}}</td>
                <td>{{item.ProductName}}</td>
                <td>{{item.ProductQuantity}}</td>
                <td>{{item.TransporterName}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.DateStr}}</td>
                <td>{{item.TimeStr}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Row-->

  <!-- Documentation Link -->
  
  <!-- Modal Logout -->
  <div class="modal fade mb-5" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a href="/logout/" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>

</div>


  <!-- filter and download data -->
  <!-- <script>
    function filterAndDownload() {
        const fromDate = document.getElementById("fromDate").value;
        const toDate = document.getElementById("toDate").value;

        // Send selected date range to the server to fetch filtered data
        fetch(`/api/filterData?from=${fromDate}&to=${toDate}`)
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(new Blob([blob]));
                const a = document.createElement('a');
                a.href = url;
                a.download = 'filteredData.csv'; // Change the filename as needed (e.g., 'filteredData.xls' for Excel)
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            });
    }
</script> -->

{% endblock %}